<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Salaires</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Employe_servlet</display-name>
    <servlet-name>Employe_servlet</servlet-name>
    <servlet-class>Packet_servlet.Employe_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employe_servlet</servlet-name>
    <url-pattern>/Employe_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paiement_servlet</display-name>
    <servlet-name>Paiement_servlet</servlet-name>
    <servlet-class>Packet_servlet.Paiement_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paiement_servlet</servlet-name>
    <url-pattern>/Paiement_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modification_servlet</display-name>
    <servlet-name>Modification_servlet</servlet-name>
    <servlet-class>Packet_servlet.Modification_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modification_servlet</servlet-name>
    <url-pattern>/Modification_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfficheEmpModif</display-name>
    <servlet-name>AfficheEmpModif</servlet-name>
    <servlet-class>Packet_servlet.AfficheEmpModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficheEmpModif</servlet-name>
    <url-pattern>/AfficheEmpModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmp</display-name>
    <servlet-name>DeleteEmp</servlet-name>
    <servlet-class>Packet_servlet.DeleteEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmp</servlet-name>
    <url-pattern>/DeleteEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AffichePaiModif</display-name>
    <servlet-name>AffichePaiModif</servlet-name>
    <servlet-class>Packet_servlet.AffichePaiModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffichePaiModif</servlet-name>
    <url-pattern>/AffichePaiModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePai</display-name>
    <servlet-name>DeletePai</servlet-name>
    <servlet-class>Packet_servlet.DeletePai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePai</servlet-name>
    <url-pattern>/DeletePai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modification1_servlet</display-name>
    <servlet-name>Modification1_servlet</servlet-name>
    <servlet-class>Packet_servlet.Modification1_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modification1_servlet</servlet-name>
    <url-pattern>/Modification1_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verification1_servlet</display-name>
    <servlet-name>Verification1_servlet</servlet-name>
    <servlet-class>Packet_servlet.Verification1_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verification1_servlet</servlet-name>
    <url-pattern>/Verification1_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_servlet</display-name>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>Packet_servlet.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout_servlet</display-name>
    <servlet-name>Logout_servlet</servlet-name>
    <servlet-class>Packet_servlet.Logout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout_servlet</servlet-name>
    <url-pattern>/Logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verification2_servlet</display-name>
    <servlet-name>Verification2_servlet</servlet-name>
    <servlet-class>Packet_servlet.Verification2_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verification2_servlet</servlet-name>
    <url-pattern>/Verification2_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statistique_servlet</display-name>
    <servlet-name>Statistique_servlet</servlet-name>
    <servlet-class>Packet_servlet.Statistique_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statistique_servlet</servlet-name>
    <url-pattern>/Statistique_servlet</url-pattern>
  </servlet-mapping>
</web-app>